body {
  background-image: url('Image/MainPageBackground.jpg');
  background-repeat: no-repeat;
  background-size: 90% 50%;
}


#content {
    color: white;
    padding-top: 50px;
    padding-bottom: 100px;
}

#declaration {
    padding: 50px;
    margin-top: -50px;
    font-size: 20px;
}

#important {
    border: 1px none;
    display: inline-block;
    color: white;
    width: auto;
    height: auto;
    /*-webkit-transition for Chrome, Safari; -moz-transition for Firefox, 
    -o-transition for Opera, -ms-transition for Internet Explorer*/
    transition: 1s ease-in-out;
    color: darkred;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px darkred, 0 0 40px darkred, 0 0 50px darkred, 0 0 60px darkred, 0 0 70px darkred, 0 0 80px darkred;
    }
  }

#important:hover {
    transform: translateY(40px) scale(1.5);
}

#board {
   border-color: #025e0e #023d0f;
   border-style: solid;
   border-width: 15px;
   margin: 20px;
   height: 400px;
   width: 95%;
   background-image: linear-gradient(to right, #cbcaa5, #334d50);
}

#left {
    display: table;
    border: solid white;
    height: 90%;
    width: 60%;
    float: left;
    clear: left;
    margin: 20px;
    vertical-align: bottom;
    text-align: left;
}

#left span {
    display: table-cell;
    vertical-align: top;
    text-align: left;
    font-size: 25px;
    padding: 10px 20px 20px 20px;
}

#right {
    display: table;
    border: none;
    height: 90%;
    width: 30%;
    float: right;
    clear: right;
    margin: 20px;
    vertical-align: bottom;
    text-align: left;
    transition: 1s ease-in-out;
}

#right:hover {
    transform: rotate(360deg);
}

#right span {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    font-size: 40px;
    padding: 20px;
}

.update {
    font-size: 20px;
    border-bottom-style: dotted;
    margin-bottom: 5px;
    width: 100%;
    padding-bottom: 3px;
}

#content a:link {
    text-decoration: none;
    color: #551A8B ;
}
  
#content a:visited {
    text-decoration: none;
    color: #551A8B ;
}
  
#content a:hover {
    text-decoration: underline;
}
  
#content a:active {
    text-decoration: underline;
}
